html, body {
  margin: 0;
  height: 100%;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  background-color: darkorange;
}

.cloud {
  width: 80px;
  height: 50px;
  position: absolute;
  background-color: white;
}

.tree {
  width: 30px;
  height: 50px;
  position: absolute;
  z-index: 2;
  background-color: brown;
}

#sky {
  width: 100%;
  height: calc(66.66666%);
  position: absolute;
  cursor: pointer;
  background-color: lightskyblue;
}

#ground {
  width: 100%;
  bottom: 0;
  height: calc(33.33333%);
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: forestgreen;
}
